<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="">
    <%= f.text_area :content, :maxlength => "140", :class => "form-control", :rows => "4" %>
  </div>
  
<% if current_user.admin? %>
Select user to post question as: <br><br>
  <%= f.collection_select :user_id, User.where(:f => true).order(:username),:id,:username, include_blank: false %>
<% end %>


  <span id="characters">140</span> Characters Left<br><br> 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<br><br>
<script>
$('textarea').keyup(function() {
    var cs = $(this).val().length;
    var cs2 = 140 - cs
    $('#characters').text(cs2);
});
</script>