
<div id="votes_count">
<p>sffasfsa</p>
</div>
<br><br>

<p><%= link_to 'Home', root_path %></p>
<center><h1><%= @question.content %></h1></center>
<center>Question ID: <%= @question.id %></center>
<center>Asked by <%= @question.user.username %></center><br>
<center><a href="/answers/new?q=<%= @question.id %>">Answer this</a> | VOTE THIS UP</center>
<center>total votes: <%= @question.get_upvotes.size %>


<!-- testing voting -->

<%= link_to "like", {:controller => "questions", :action => "upvote", :id => @question.id }%>

<!-- end testing -->


<br><br><br><br>
<center><p><b>Answers</b></p></center>

<% @answers.each do |a| %>

<center><%= a.content %><br>
	<%	if a.user.nil? %>
	Answered anonymously.
	<% else %>
	Answered by <%= a.user.username %>
	<% end %>
	<br><div id="<%= a.id %>"><%= "#{a.get_upvotes.size}" %></div> votes <br>

<%= link_to "like", {:controller => "answers", :action => "upvote", :id => a.id, :qid => @question.id }, class: 'vote', remote: true %> 

<br><br>
	<br></center>



<% end %>

