<!-- Home page for logged in users -->
<% if user_signed_in? %>

	<!-- Signed in information -->
<% if current_user.admin? %>
<span style="color:red">Logged in as admin</span>
<% end %>

	<p>Signed in as <%= current_user.username %></p>
	<p><%= link_to 'Sign out', destroy_user_session_path(:authenticity_token => form_authenticity_token()), :method=>'delete' %></p>
	<br>


	<!-- Ask a question -->
	<%= link_to "Ask question", new_question_path, :method=> 'get' %>
	<br><br>

	<!-- Recent questions -->
	<p><b>Recent questions:</b></p>
	<% @questions.each do |q| %>
		- <a href="questions/<%= q.slug %>"><%= q.content %></a><br>
	<% end %>

	<%= render 'yourquestions' %>



<!-- Home page for logged out users -->
<% else %>

	<center>
	<h1>QuestionJet</h1>
	<h3>140 character questions and answers</h3><br><br>
	<p><%= link_to 'Sign in', new_user_session_path, :method=> 'get' %></p>
	<p><a href="/beta">Join the beta waiting list.</a></p>
	<!-- Add back in after beta -->
	<!-- <p><%= link_to 'Sign up', new_user_registration_path, :method=> 'get' %></p> -->
	
	</center>


<% end %>


